body {
    padding: 60px 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,cecece+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #cecece 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#cecece 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#cecece 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
}

html, body, .container-fluid, .flex {
    height: 100%;
}

.container-fluid {
    text-align: center;
    /*background-color: orange;*/
}

.logo g {
    fill: #ccbb66;
    fill-opacity: 0.5;
}