body {
  background-color: black;
}

html,
body,
div {
  height: 100%;
}

div {
  align-items: center;
  display: flex;
  justify-content: center;
  svg {
    height: 20%;
    min-height: 100px;
    width: auto;
  }
}
